* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  scale: 1.1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Graphik Trial", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

header {
  background-color: rgb(24, 24, 24);
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .wrapper ul {
  list-style: none;
  display: flex;
  gap: 31px;
}
header nav .wrapper ul li {
  color: white;
}
header nav button {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}
header nav button p {
  padding: 13.5px 46px;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: white;
}

#hero {
  background-color: rgb(24, 24, 24);
  padding-top: 95px;
}
#hero .container .text {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
}
#hero .container .text h1 {
  max-width: 709px;
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#hero .container .text p {
  max-width: 602px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#hero .container .buttons {
  padding-top: 85px;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}
#hero .container .buttons button {
  padding: 10px 30px 10px 30px;
  gap: 0px;
  opacity: 0px;
}
#hero .container .buttons .try {
  background: rgb(68, 82, 254);
}
#hero .container .buttons .try p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#hero .container .buttons .learn {
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
}
#hero .container .buttons .learn p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#hero .container img {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 152px;
}

#features {
  background-color: rgb(24, 24, 24);
  padding-bottom: 162px;
}
#features .container {
  display: flex;
  flex-direction: column;
}
#features .container .top_row {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  align-items: center;
}
#features .container .top_row h2 {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#features .container .top_row p {
  max-width: 582px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#features .container .bottom_row {
  display: flex;
  justify-content: center;
  gap: 27px;
  padding-top: 80px;
}
#features .container .bottom_row .contents {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 85px;
}
#features .container .bottom_row .contents .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#features .container .bottom_row .contents .content .title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
#features .container .bottom_row .contents .content .title p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 173px;
}
#features .container .bottom_row .contents .content .para {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
  max-width: 249px;
  color: rgb(255, 255, 255);
}

#contents {
  background-color: rgb(24, 24, 24);
  padding-bottom: 150px;
}
#contents .container .top_row {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  align-items: center;
}
#contents .container .top_row h2 {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#contents .container .top_row p {
  max-width: 571px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#contents .container .bottom_row .cards {
  display: flex;
  justify-content: center;
  gap: 33px;
  padding-top: 44px;
}
#contents .container .bottom_row .cards .card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  align-items: center;
  gap: 57px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#contents .container .bottom_row .cards .card .context {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contents .container .bottom_row .cards .card .context .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: center;
}
#contents .container .bottom_row .cards .card .context p {
  max-width: 268px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
}
#contents .container .bottom_row .cards .card button {
  background-color: rgb(68, 82, 254);
  padding: 10px 46px 10px 46px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
#contents .container .bottom_row .cards .card button p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}

#gallery {
  background-color: rgb(24, 24, 24);
  padding-bottom: 150px;
}
#gallery .container .top_row {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  align-items: center;
}
#gallery .container .top_row h2 {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#gallery .container .top_row p {
  max-width: 571px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#gallery .container .bottom_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
}
#gallery .container .bottom_row .first_row {
  display: flex;
}
#gallery .container .bottom_row .second_row {
  display: flex;
}
#gallery .container .bottom_row button {
  background-color: transparent;
  padding: 10px 30px 10px 30px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgb(255, 255, 255);
}
#gallery .container .bottom_row button p {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.200000003px;
  text-align: left;
}

#partners {
  background-color: rgb(24, 24, 24);
  padding-bottom: 150px;
}
#partners .container .top_row {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  align-items: center;
}
#partners .container .top_row h2 {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#partners .container .top_row p {
  max-width: 571px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#partners .container .bottom_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
#partners .container .bottom_row .logos {
  display: flex;
  flex-direction: row;
  gap: 74px;
  padding-bottom: 50px;
}
#partners .container .bottom_row button {
  background-color: transparent;
  padding: 10px 30px 10px 30px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgb(255, 255, 255);
}
#partners .container .bottom_row button p {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.200000003px;
  text-align: left;
}

#testimonials {
  background-color: rgb(24, 24, 24);
  padding-bottom: 150px;
}
#testimonials .container .top_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
#testimonials .container .top_row h2 {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#testimonials .container .bottom_row {
  display: flex;
  flex-direction: row;
  gap: 23px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
#testimonials .container .bottom_row .first_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#testimonials .container .bottom_row .first_column .card {
  max-width: 430px;
  border: 1px solid rgb(222, 222, 222);
  padding: 40px;
  gap: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0px;
}
#testimonials .container .bottom_row .first_column .card .client {
  display: flex;
  flex-direction: row;
  gap: 23px;
}
#testimonials .container .bottom_row .first_column .card .client .text_content {
  display: flex;
  flex-direction: column;
}
#testimonials .container .bottom_row .first_column .card .client .text_content .name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
#testimonials .container .bottom_row .first_column .card .client .text_content .job {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: left;
}
#testimonials .container .bottom_row .first_column .card p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
#testimonials .container .bottom_row .second_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#testimonials .container .bottom_row .second_column .card {
  max-width: 430px;
  border: 1px solid rgb(222, 222, 222);
  padding: 40px;
  gap: 30px;
  border-radius: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#testimonials .container .bottom_row .second_column .card .client {
  display: flex;
  flex-direction: row;
  gap: 23px;
}
#testimonials .container .bottom_row .second_column .card .client .text_content {
  display: flex;
  flex-direction: column;
}
#testimonials .container .bottom_row .second_column .card .client .text_content .name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
#testimonials .container .bottom_row .second_column .card .client .text_content .job {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: left;
}
#testimonials .container .bottom_row .second_column .card p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}

#cta {
  background-color: rgb(24, 24, 24);
  padding-bottom: 150px;
  padding-top: 30px;
}
#cta .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cta .container .card {
  max-width: 1219px;
  background-color: rgb(52, 52, 52);
  border-radius: 33px;
  display: flex;
  flex-direction: row;
  gap: 66px;
}
#cta .container .card .first_column {
  padding-top: 78.5px;
  padding-left: 94px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: start;
}
#cta .container .card .first_column h2 {
  color: rgb(255, 255, 255);
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
#cta .container .card .first_column button {
  background-color: rgb(68, 82, 254);
  padding: 10px 46px 10px 46px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
#cta .container .card .first_column button p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(24, 24, 24);
  padding-bottom: 107px;
}
footer .container {
  display: flex;
  justify-content: center;
}
footer .container .columns {
  display: flex;
  gap: 75px;
}
footer .container .columns .first_column {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
footer .container .columns .first_column p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
}
footer .container .columns .first_column ul li {
  padding-bottom: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
footer .container .columns .second_column {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
footer .container .columns .second_column p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
}
footer .container .columns .second_column ul li {
  padding-bottom: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
footer .container .columns .third_column {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
footer .container .columns .third_column p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
}
footer .container .columns .third_column ul li {
  padding-bottom: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
footer .container .last {
  padding-left: 199px;
}
footer .container .last ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 21px;
}
footer .container .last ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
footer .container .last ul li p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}
footer .container .last ul li:nth-child(3) {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=styles.css.map */