#hero {
    background-color: rgba(24, 24, 24, 1);
    padding-top: 95px;
    .container {
      .text {
        display: flex;
        flex-direction: column;
        gap: 17px;
        align-items: center;
        h1 {
          max-width: 709px;
          font-size: 80px;
          font-weight: 500;
          line-height: 88px;
          letter-spacing: 0.20000000298023224px;
          text-align: center;
          color: $bg-white;
        }
        p {
          max-width: 602px;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0.20000000298023224px;
          text-align: center;
          color: $bg-white;
        }
      }
      .buttons {
        padding-top: 85px;
        display: flex;
        gap: 35px;
        align-items: center;
        justify-content: center;
        button {
          padding: 10px 30px 10px 30px;
          gap: 0px;
          opacity: 0px;
        }
        .try {
          background: rgba(68, 82, 254, 1);
          p {
            font-size: 17px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;
            color: $bg-white;
          }
        }
        .learn {
          border: 1px solid rgba(255, 255, 255, 1);
          background-color: transparent;
          p {
            font-size: 17px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;
            color: $bg-white;
          }
        }
      }
      img {
        width: 100%;
        padding-top: 35px;
        padding-bottom: 152px;
      }
    }
  }